body{
	margin: 0px;
	background-image: url(galaxy.jpg);
}
.lilbox{
	border: 5px black solid;
	border-radius:100px;
	margin: auto;
	width: 50%;
	margin-top: 250px;
	background: rgba(250, 250, 250, 70%);
}

h1 {
	font-family: 'Chela One', cursive;
	font-weight: 200;
	text-align: center;
}
h5, #results, #score {
	font-family: 'Nunito', sans-serif;
	text-align: center;
}
#Sun {
	margin-left: 250px;
}